@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;900&family=Inter:wght@400;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-viking-gold: #d4af37;
  --color-viking-wood: #5d4037;
  --color-viking-stone: #78909c;
  --color-viking-dark: #263238;
  --color-viking-blood: #880e4f;

  --font-serif: "Cinzel", serif;
  --font-sans: "Inter", sans-serif;
}